*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/images/bgimage.jpg);
    background-size: cover;
   
    
}
.menu-bar {
    background: green;
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style-type: none;
    color: white ;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active,.menu-bar ul li:hover
{
    background-color: rgba(7, 248, 7, 0.801);
    border-radius: 3px;
}

.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: green;
    margin-top: 20px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: yellowgreen;
}